jupyter
matplotlib>=2.0.2
numpydoc
openpyxl
pandas
pylint
pytest
pytest-cov
sphinx
sphinx_rtd_theme
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
